<nav>
  <h1>Data Science Journal</h1>
  <!-- 
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  -->
  <h2>by <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>A blog to share my dedicated journey in learning Data Science.</p>
    <p><a href="https://cecilialee.github.io/cv/" target="blank"><i class="fa fa-user fa-fw"></i> View Resume</a></p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>

  <div id="tags">
    {% include tags.html %}
  </div>

  
  <div id="search-container">
    <input type="text" id="search-input" placeholder="Search">
  </div>

</nav>
