.highlight{background-color:#073642;color:#888}
//.highlight .c{color:#586e75 !important;font-style:italic !important}
.highlight .c{color:#b3b3b3 !important;font-style:italic !important}
//.highlight .cm{color:#586e75 !important;font-style:italic !important}
.highlight .cm{color:#b3b3b3 !important;font-style:italic !important}
//.highlight .cp{color:#586e75 !important;font-style:italic !important}
.highlight .cp{color:#b3b3b3 !important;font-style:italic !important}
//.highlight .c1{color:#586e75 !important;font-style:italic !important}
.highlight .c1{color:#b3b3b3 !important;font-style:italic !important}
.highlight .cs{color:#b3b3b3 !important;font-weight:bold !important;font-style:italic !important}
.highlight .err{color:#dc322f !important;background:none !important}
.highlight .k{color:#cb4b16 !important}
.highlight .o{color:#888 !important;}
.highlight .p{color:#888 !important}
.highlight .ow{color:#00B7A9 !important;font-weight:bold !important}
.highlight .gd{color:#888 !important;background-color:#372c34 !important;display:inline-block}
.highlight .gd .x{color:#888 !important;background-color:#4d2d33 !important;display:inline-block}
.highlight .ge{color:#888 !important;font-style:italic !important}
.highlight .gr{color:#aa0000}
.highlight .gh{color:#586e75 !important}
.highlight .gi{color:#888 !important;background-color:#1a412b !important;display:inline-block}
.highlight .gi .x{color:#888 !important;background-color:#355720 !important;display:inline-block}
.highlight .go{color:#888888}
.highlight .gp{color:#555555}
.highlight .gs{color:#888 !important;font-weight:bold !important}
.highlight .gu{color:#6c71c4 !important}
.highlight .gt{color:#aa0000}
//.highlight .kc{color:#9BB500 !important;font-weight:bold !important}
.highlight .kc{color:#9BB500 !important;}
.highlight .kd{color:#2A9AE9 !important}
.highlight .kp{color:#cb4b16 !important;font-weight:bold !important}
.highlight .kr{color:#d33682 !important;font-weight:bold !important}
.highlight .kt{color:#00B7A9 !important}
.highlight .n{color:#2A9AE9 !important}
.highlight .na{color:#2A9AE9 !important}
.highlight .nb{color:#9BB500 !important}
.highlight .nc{color:#d33682 !important}
.highlight .no{color:#b58900 !important}
.highlight .ni{color:#800080}
.highlight .nl{color:#9BB500 !important}
.highlight .ne{color:#2A9AE9 !important;font-weight:bold !important}
.highlight .nf{color:#2A9AE9 !important;font-weight:bold !important}
.highlight .nn{color:#b58900 !important}
.highlight .nt{color:#2A9AE9 !important;font-weight:bold !important}
.highlight .nx{color:#b58900 !important}
.highlight .bp{color:#888999}
.highlight .vc{color:#008080}
.highlight .vg{color:#2A9AE9 !important}
.highlight .vi{color:#2A9AE9 !important}.highlight .nv{color:#2A9AE9 !important}.highlight .w{color:#b3b3b3bbb}.highlight .mf{color:#00B7A9 !important}.highlight .m{color:#00B7A9 !important}.highlight .mh{color:#00B7A9 !important}.highlight .mi{color:#00B7A9 !important}.highlight .mo{color:#009999}.highlight .s{color:#00B7A9 !important}.highlight .sb{color:#d14}.highlight .sc{color:#d14}.highlight .sd{color:#00B7A9 !important}.highlight .s2{color:#00B7A9 !important}.highlight .se{color:#dc322f !important}.highlight .sh{color:#d14}.highlight .si{color:#2A9AE9 !important}.highlight .sx{color:#d14}.highlight .sr{color:#00B7A9 !important}.highlight .s1{color:#00B7A9 !important}.highlight .ss{color:#990073}.highlight .il{color:#009999}.highlight div .gd,.highlight div .gd .x,.highlight div .gi,.highlight div .gi .x{display:inline-block;width:100%}
pre { white-space: pre; overflow: auto; }
code, pre { font-family: Monaco,Menlo,Consolas,"Courier New",monospace; }