---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.footer-col-1 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(18% - (#{$spacing-unit} / 2));
  width:         calc(18% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(57% - (#{$spacing-unit} / 2));
  width:         calc(57% - (#{$spacing-unit} / 2));
}