--- 
layout: default 
title: Blog Posts 
---
<div id="home">
    <h2 class="section-title"><i class="fa fa-bookmark"></i> All Blog Posts</h2>
    <ul id="blog-posts" class="posts">
        {% for post in site.posts %}
        <div class="post-list">
            <li><a href="{{ post.url }}" id="post-list-title">{{ post.title }}</a></li>
            <li><span class="date">{{ post.date | date: "%Y-%m-%d" }}</span> 
            	{% for tag in post.tags %}<span class="tag"><a href="{{ '/tag/' | append:tag }}.html" rel="tag"> {{ tag }}</a></span> {% endfor %}
            </li>
        </div>
        {% endfor %}
    </ul>
</div>